05-Riesgo de Obesidad (Python)/test.csv
05-Riesgo de Obesidad (Python)/train.csv
06-Mohs Hardness (Python)/train.csv
06-Mohs Hardness (Python)/test.csv
07-Prediccion Diabetes (Python)/diabetes.csv
09 - Ecommerce Recommendation System (Python)/customer_recommendations_with_details.xlsx
09 - Ecommerce Recommendation System (Python)/data.csv
09 - Ecommerce Recommendation System (Python)/data_cleaned.csv
11 - Steel Plate Competition (Python)/sample_submission.csv
11 - Steel Plate Competition (Python)/test.csv
11 - Steel Plate Competition (Python)/train.csv
04-Experiencia Semana Data Science (Python y Tableau)/AbandonoEmpleados.csv
04-Experiencia Semana Data Science (Python y Tableau)/abandono_con_scoring.xlsx
Tutorial/